<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>日志管理</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
<link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">
<!-- 查询条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
  <legend>查询条件</legend>
</fieldset>
<blockquote class="layui-elem-quote">
	<form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
		<div class="layui-form-item">
		    <div class="layui-inline">
		      <label class="layui-form-label">登陆名称</label>
		      <div class="layui-input-inline">
		        <input type="text" name="loginname"  autocomplete="off" class="layui-input">
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">登陆地址</label>
		      <div class="layui-input-inline">
		        <input type="text" name="loginip"    autocomplete="off" class="layui-input">
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">开始时间</label>
		      <div class="layui-input-inline">
		        <input type="tel" name="startTime" id="startTime" readonly="readonly" placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input">
		      </div>
		    </div>
		    <div class="layui-inline">
		      <label class="layui-form-label">结束时间</label>
		      <div class="layui-input-inline">
		        <input type="tel" name="endTime"  id="endTime"  readonly="readonly" placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input">
		      </div>
		    </div>
		  </div>
		  <div class="layui-form-item">
		      <div class="layui-input-block" style="text-align: center;">
		      	<button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
      			<button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
		      </div>
		  </div>
	</form>
</blockquote>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
	<table class="layui-hide" id="loginfoTable" lay-filter="loginfoTable"></table>
	<div id="loginfoToolBar" style="display: none;">
		<button type="button" lay-event="batchDelete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>批量删除</button>
	</div>
	
	<div id="loginfoRowBar" style="display: none;">
		<button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>删除</button>
	</div>
</div>


<!-- 数据表格结束 -->




<script type="text/javascript" src="/resources/layui/layui.js"></script>

<script type="text/javascript">
	layui.use(['jquery','form','table','layer','laydate'],function(){
		var $=layui.jquery;
		var form=layui.form;
		var table=layui.table;
		var layer=layui.layer;
		var laydate=layui.laydate;
		//初始化时间选择器
		laydate.render({
			elem:'#startTime',
			type:'datetime'
		});
		laydate.render({
			elem:'#endTime',
			type:'datetime'
		});
		
		//加载 数据
		var tableIns=table.render({
			 elem: '#loginfoTable'
		    ,url:'/loginfo/loadAllLoginfo'
		    ,toolbar: '#loginfoToolBar' //开启头部工具栏，并为其绑定左侧模板
		    ,title: '用户登陆日志数据表'
		    ,height:'full-220'
		    ,page: true
		    ,cols: [ [
		      {type: 'checkbox', fixed: 'left'}
		      ,{field:'id', title:'ID',align:'center'}
		      ,{field:'loginname', title:'登陆名称',align:'center'}
		      ,{field:'loginip', title:'登陆地址',align:'center'}
		      ,{field:'logintime', title:'登陆时间',align:'center'}
		      ,{fixed: 'right', title:'操作', toolbar: '#loginfoRowBar',align:'center'}
		    ] ]
		});
		
		//模糊查询
		form.on("submit(doSearch)",function(data){
			tableIns.reload({
				where:data.field,
				page:{
					curr:1
				}
			});
			return false;
		});
		
		//监听工具条的事件
		table.on("toolbar(loginfoTable)",function(obj){
			 switch(obj.event){
			    case 'batchDelete':
			     batchDelete();
			    break;
			  };
		});
		
		//监听行工具条的事件
		table.on("tool(loginfoTable)",function(obj){
			  var data = obj.data; //获得当前行数据
			 switch(obj.event){
			    case 'delete':
			   		deleteInfo(data);
			    break;
			  };
		});
		
		//删除
		function deleteInfo(data){
			layer.confirm('你确定要删除这条数据吗?', {icon: 3, title:'提示'}, function(index){
				$.post("/loginfo/deleteLoginfo",{id:data.id},function(res){
					if(res.code==200){
						tableIns.reload();
					}
					layer.msg(res.msg);
				})	
			   layer.close(index);
			});
		}
		
		//批量删除
		function  batchDelete(){
			//得到选中行
			var checkStatus = table.checkStatus('loginfoTable');
			var dataLength=checkStatus.data.length;
			if(dataLength>0){
				layer.confirm('你确定要删除这些数据吗?', {icon: 3, title:'提示'}, function(index){
						var data=checkStatus.data; //获取选中行的数据
						var ids="";
						$.each(data,function(index,item){
							if(index==0){
								ids+="ids="+item.id;
							}else{
								ids+="&ids="+item.id;
							}
						})
						$.post("/loginfo/batchDeleteLoginfo",ids,function(res){
							if(res.code==200){
								tableIns.reload();
							}
							layer.msg(res.msg);
						})	
					   layer.close(index);
					});
				
			}else{
				layer.msg("请选中操作行")
			}
		}
	});
</script>

</body>
</html>